<div class='post-details width'>
  <div class='post-details-container flex width border'>
    <div class='post-header-with-counter flex width'>
      <h3 class='post-header'>
        <%= @post.Title %> by <%= @user.Name%>
      </h3>
      <p class='post-counter-data'>
        Comments: <%= @post.CommentCounter %>, Likes: <%= @post.LikeCounter %>
      </p>
    </div>
    <p class='post-desc'>
      <%= @post.Text %>
    </p>
    <div class='btn-wrapper flex width'>
      <%= link_to "/users/#{@post.author_id}/posts/#{@post.id}/liked_post" do %>
        <button type='button' name='create_like' class='btn end'>
          like post
        </button>
      <% end %>
      <% if current_user.id == @post.author_id || (can? :destroy, @post) %>
        <%= button_to "delete", "/users/#{@post.author_id}/posts/#{@post.id}/delete_post", method: :delete %>
      <% end %>
    </div>
  </div>

  <div class='comment-container comment-card border flex width border'>
    <h3>Comments</h3>
    <% @post_comments.each do |comment| %>
      <% if comment %>
        <%= render partial: 'shared/comment_card', locals: { comment: comment }%>
      <% else %>
        <p> There are no comments for this post <p>
      <% end %>
    <% end %>
  </div>

  <%= link_to "/users/#{@post.author_id}/posts/#{@post.id}/comments" do %>
    <button type='button' name='create_post' class ='btn'>
      Render json
    </button>
  <% end %>
</div>
