<div class='post-details'>
  <div class='post-details-container flex width border'>
    <h3 class='post-header'>
      <%= @post.Title %> by <%= @user.Name%>
    </h3>
    <p class='post-counter-data'>
      Comments: <%= @post.CommentCounter %>, Likes: <%= @post.LikeCounter %>
    </p>
    <p class='post-desc'>
      <%= @post.Text %>
    </p>
  </div>
  <div class='comment-container'>
    <% @post_comments.each do |comment| %>
      <%= render partial: 'shared/comment_card', locals: { comment: comment }%>
    <% end %>
  </div>
</div>