<!DOCTYPE html>
<html>
  <head>
    <title>Footlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice if notice%></p>
    <p class="alert"><%= alert if alert%></p>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete if user_signed_in?%>
    <%= yield %>
  </body>
</html>
