<!DOCTYPE html>
<html>
  <head>
    <title>Footlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='flex'>
    <% if user_signed_in? %>
      <div class='nav flex width'>
        <%= button_to "Home", user_index_path, method: :get %>
        <p>|</p>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
    <% if (alert || notice) && user_signed_in? %>
      <div class="notifications border flex">
        <% if notice %>
          <p class'notice'><%= notice%></p>
        <% elsif alert %>
          <p class'alert'><%= alert%></p>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
